@model Viglacera.Models.tblGroupNew
@{
    ViewBag.Title = "Thêm danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Content');
    });

</script>

<script type="text/javascript">
     $(function () {
           $("#SelectiCon").click(function () {
             var finder = new CKFinder();
             finder.selectActionFunction = function (fileUrl) {
                 $("#iCon").val(fileUrl);
             };
             finder.popup();
         });

         $("#drMenu").change(function () {
             var idCate = $("#drMenu").val();
             $.ajax(
                    {
                        url: '/GroupNews/AutoOrd',
                        type: 'post',
                        data: { "idCate": idCate },
                        dataType: 'json',
                        success: function (data) {

                            $('#Ord').val(data.result);
                        }
                    ,
                        error: function () { }
                    });

             //
         });
     });
</script>

@using (Html.BeginForm("Create", "GroupNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   @Html.ValidationSummary(true)
    <div id="main-content">
        <div class="container-fluid">
            <div style="width: 100%; margin: 0 auto;">

                <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
                    <ul>
                        <li><a href='/admin'><i class="icon-home" style="font-size:14px;"></i> Trang chủ</a></li>
                        <li class='SecondLast'><a href="/GroupProduct"> Danh Mục tin tức</a></li>
                        <li class='Last'><span>Thêm mới danh mục tin tức/span></li>
                    </ul>
                </div>

                <div style="clear: both;"></div>

                <div id="cph_Main_ContentPane">
                    <div class="widget">
                        <!-- widget-title -->
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i>&nbsp;Thêm mới danh mục tin tức</h4>

                            <!-- Button -->
                            <div class="ui-widget-content ui-corner-top ui-corner-bottom">
                                <div id="toolbox">
                                    <div style="float:right;" class="toolbox-content">

                                        <table class="toolbar">
                                            <tr>

                                                <td align="center">
                                                    <button type="submit" class="toolbar btn btn-info" name="btnSave" id="btnSave"><i class="icon-save"></i> &nbsp;Lưu lại</button>

                                                </td>

                                                <td align="center">
                                                    <button type="submit" class="toolbar btn btn-info" name="btnSaveCreate" id="btnSaveCreate"><i class="icon-ok"></i> &nbsp;Lưu và Thêm mới</button>

                                                </td>
                                                <td align="center">
                                                    <a id="cph_Main_ctl00_toolbox_rptAction_lbtAction_4" title="Quay lại" style="color:#FFF !important" class="toolbar btn btn-info" href="">
                                                        <i class="icon-chevron-left"></i>&nbsp;
                                                        Quay lại
                                                    </a>
                                                </td>
                                                <td align="center">
                                                    <a onclick="" id="cph_Main_ctl00_toolbox_rptAction_lbtAction_0" title="Trợ giúp"  style="color:#FFF !important" class="toolbar btn btn-info" href="" )">
                                                        <i class="icon-question-sign"></i>&nbsp;
                                                        Trợ giúp
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <!-- End Button -->

                            <div id="hiddenToolBarScroll" class="scrollBox hidden">

                                <div class="FloatMenuBar" style="float:left; margin-left:20px">

                                    <div class="ui-widget-content ui-corner-top ui-corner-bottom">
                                        <div id="Div1">

                                            <div style="float:left;" class="toolbox-content">

                                                <table class="toolbar">
                                                    <tr>

                                                        <td align="center">
                                                            <button type="submit" class="toolbar btn btn-info" name="btnSave" id="btnSave"><i class="icon-save"></i> &nbsp;Lưu lại</button>

                                                        </td>

                                                        <td align="center">
                                                            <button type="submit" class="toolbar btn btn-info" name="btnSaveCreate" id="btnSaveCreate"><i class="icon-ok"></i> &nbsp;Lưu và Thêm mới</button>

                                                        </td>
                                                        <td align="center">
                                                            <a id="cph_Main_ctl00_toolbox_rptAction_lbtAction_4" title="Quay lại" style="color:#FFF !important" class="toolbar btn btn-info" href="">
                                                                <i class="icon-chevron-left"></i>&nbsp;
                                                                Quay lại
                                                            </a>
                                                        </td>
                                                        <td align="center">
                                                            <a onclick="" id="cph_Main_ctl00_toolbox_rptAction_lbtAction_0" title="Trợ giúp"  style="color:#FFF !important" class="toolbar btn btn-info" href="" )">
                                                                <i class="icon-question-sign"></i>&nbsp;
                                                                Trợ giúp
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- widget-title -->
                        <!-- widget-body -->
                        <div class="widget-body">
                            <div id="cph_Main_ctl00_notification_divNotice" style="padding-top:10px;">
                                <!-- Messange -->
                                @Html.Raw(ViewBag.thongbao)

                                <!-- End Messange -->
                            </div>
                            <table class="admintable" style="width: 100%;">
                                <tr>
                                    <td class="key">
                                        Danh mục cha <span class="Required">*</span>
                                    </td>
                                    <td>
                                        @Html.DropDownList("drMenu", "-- Danh mục cha --")
                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Danh mục cha
                                                </p>
                                                <p class="tooltipmessage">
                                                    Danh mục cấp trên của danh mục đang cập nhật
                                                </p>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="key">
                                        Tên danh mục  <span class="Required">*</span>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(p => p.Name, new { @class = "Name_ad txtName", @autofocus = "autofocus", @required = "required" })


                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Tên danh mục
                                                </p>
                                                <p class="tooltipmessage">
                                                    Tên danh mục
                                                </p>
                                            </span>
                                        </span>
                                     </td>
                                </tr>
                                <tr>
                                    <td class="key">
                                        Mô tả
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(p => p.Description, new { @class = "Content_ad", @autofocus = "autofocus", @required = "required" })
                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Mô tả cho sản phẩm
                                                </p>
                                                <p class="tooltipmessage">
                                                    Mô trả cho sản phẩm, độ dài khuyến cáo từ 120 đến 160 ký tự
                                                </p>
                                            </span>
                                        </span>
                                    </td>
                                </tr>  
                                <tr>
                                    <td class="key">
                                        Ảnh đại diện
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(p => p.Images, new { @class = "Name_ad" })&nbsp;<input id="SelectImages" type="button" value="Lựa chọn ảnh" class="Images_ad" />

                                    </td>
                                </tr>
                                 
                                <tr>
                                    <td class="key">
                                        Tiêu đề trang
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(p => p.Title, new { @class = "Name_ad" })
                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Tiêu đề trang
                                                </p>
                                                <p class="tooltipmessage">
                                                    Nội dung được hiển thị dưới dạng tiêu đề trong kết quả tìm kiếm và trên trình duyệt của người dùng.
                                                </p>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="key">
                                        Thẻ từ khóa (Tags)
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(p => p.Keyword, new { @class = "Content_ad" })
                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Thẻ từ khóa
                                                </p>
                                                <p class="tooltipmessage">
                                                    Các từ khóa liên quan
                                                </p>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="key">
                                        Thứ tự
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(p => p.Ord, new { @class = "Ord_ad", @Value = @Html.Raw(ViewBag.Ord) })


                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Thứ tự hiển thị
                                                </p>
                                                <p class="tooltipmessage">
                                                    Thứ tự hiển thị của danh mục sản phẩm
                                                </p>
                                            </span>
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="key">
                                        Hiển thị
                                    </td>
                                    <td>
                                        @{bool Active = true;}
                                        @Html.CheckBoxFor(model => Active)

                                        <span class="tooltip-help">
                                            <span class="tooltipContent">
                                                <p class="tooltiptitle">
                                                    Hiển thị
                                                </p>
                                                <p class="tooltipmessage">
                                                    Lựa chọn để danh mục sản phẩm hiển thị trên website
                                                </p>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {
        function bodauTiengViet(str) {
            str= str.toLowerCase();
            str= str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
            str= str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");
            str= str.replace(/ì|í|ị|ỉ|ĩ/g,"i");
            str= str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");
            str= str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");
            str= str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");
            str= str.replace(/đ/g,"d");
            return str;
        }
         $('#Name').keyup(function () {
            var text = $(this).val();
            $('#Title').val(text);
            $('#Keyword').val(bodauTiengViet(text))
         
        });
    });
</script>
